:root {
  --link-color: black;
}

body {
  font-family: 'Fira Code', monospace;
  margin: 0;
  background-image: radial-gradient(black 1px, transparent 1px);
  background-size: 16px 16px;
}

#content {
  padding: 16px;
  max-width: 1200px;
  margin: auto;
}

header {
  font-size: 28px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > img {
  height: 100px;
  border-radius: 50%;
}

header,
section {
  border: 1px solid black;
  background-color: white;
  box-shadow: 8px 8px black;
  padding: 16px;
  margin-bottom: 32px;
}

a {
  text-decoration: underline;
  color: var(--link-color);
}

a:hover {
  font-weight: 700;
}

a:visited {
  color: var(--link-color);
}

footer {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  justify-items: center;
  margin-top: 16px;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
  text-decoration: underline;
}

h3 {
  font-size: 24px;
  text-decoration: underline;
}

#game-container {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  row-gap: 16px;
  justify-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.game {
  width: 315px;
}

.details {
  max-height: 250px;
  height: 0;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  position: absolute;
  width: 315px;
  background-color: rgba(102, 102, 102, 0.767);
  color: white;
}

.details > div {
  padding: 16px;
}

.details p {
  font-weight: 400;
}

.game:hover > .details,
a:focus .details {
  height: calc(100% - 32px);
}

img {
  display: block;
  object-fit: contain;
  width: 315px;
}

.bordered {
  border: 1px solid black;
  background-color: #eba715;
  width: 313px;
  height: 248px;
}

#pfp {
  border-radius: 50%;
  width: auto;
}

@media screen and (max-width: 1050px) {
  #game-container {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 750px) {
  #game-container {
    grid-template-columns: 100%;
  }
}
